body {
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
   
}

.header {
    background: #FFF;
    display: flex;
    justify-content: space-between;
}

.banner {
    background-image: url('../images/Banner\ Image.png');
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    width: 1320px;
    height: 600px;
    background-position: center;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;

}

header>h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    width: 259px;
    height: 40px;
    padding-top: 100px;
    padding-right: 531px;
    filter: brightness(150%);
    margin-bottom: 5px;
    margin-left: 500px;

}

header>div {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    margin-top: 0px;
    padding-left: 344px;
    padding-right: 344px;
    
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;

    font-weight: 700;

    margin-top: 130px;
    margin-left: 608px;
    margin-right: 609px;
    margin-bottom: 40px;

}

.deal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}

.catagory {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.year {
    width: 803px;
    height: 500px;
    margin-left: 399px;
    margin-right: 398px;
    margin-bottom: 100px;

}

.party {
    position: relative;
    margin-left: 150px;
}

.party .vector {
    width:1380px;
    height: auto;
   

}

.party .group {
    position: absolute;
    right: 20%;
    top: 10%;

}

.party-text {
    color: #FFF;
    font-size: 38px;
    font-weight: 400;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    height: 176px;

}

.party-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.party .join {
    background-color: #070211;
    position: absolute;
    color: #FFF;
    text-align: center;

    font-size: 20px;

    font-weight: 700;
    width:150px;
    height: 40px;
    left: 158px;
    top: 75%;
    border:0;

}

.place {
    position: relative;
    background-color: rgba(255, 182, 193, 0.199);
    height: 530px;
    width: 1382px;
    margin-left: 140px;
    margin-top: 100px;

}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.time {
    padding-top: 5%;
}

.time>h1 {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;

    font-weight: 700;

    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;

    padding: 16px 32px;

    gap: 10px;
    border: 0;
    left: 10px;
    padding-left: 36px;
    padding-right: 35px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 43%;
}

.soon {
    position: relative;
    margin-top: 150px;
    margin-left: 140px;
    margin-right: 140px;
}

.ellipse {
    margin-left: 12%;
    border: 20px solid red;
    /* border:5px solid red; */
    border-radius: 100%;
    padding: 30px;

}

.coming {
    position: top;
    float: left;


}

.best {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;

    font-weight: 500;

    width: 207px;
    height: 29px;
    margin-bottom: 5px;
}

.come {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;


    width: 328px;
    height: 60px;
    margin-bottom: 10px;
}

.set {
    justify-content: space-between;
}

.four {
    color: #F00;
    font-family: Inter;
    font-size: 48px;

    font-weight: 700;

}

.sed {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;

    font-weight: 400;

}

.two {
    float: right;

}

.sale {
    position:relative;
    margin-top: 200px;
    text-align: center;
}

.what {
    /* position: absolute; */
    color: #070211;
    font-family: Inter;
    font-size: 24px;
   font-weight: 500;

   
}

.holy {
    color: #F00;
   font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}
   

.holiday {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
   font-weight: 900;
   margin-top: 0;
   margin-bottom: 0;
}
.ame{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;

}

.middle{
    

background-image: url('../images/Rectangle\ 1.png') ;
background-repeat: no-repeat;
background-position: right;
height: 433px;
margin-right:120px ;

}
.circle{
    position: absolute;
    margin-top:5%;
    margin-left: 59%;
}
.photo{
    position: relative;
    background-image:url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    margin-left: 140px;
    margin-right: 120px;

    }
    .box{
         margin: 0;
         padding-bottom: 200px;
         padding-left: 100px;
    }
    #gifts{
        color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-left: 125px;

    }
    #awesome{
        color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-left: 125px;
    }
    #eget{
        color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-left: 125px;
    }
    .bag{
        margin-left: 100px;
        margin-right: 60px;
        margin-bottom: 100px;
    }
    .products{
        margin-top: 25px;
        margin-left: 30px;
        width: 455px;
       height: 500px;
       border-radius: 16px;
       transition: 1s;
    }
    .products:hover{
        transform:scale(1.5);
        z-index: 2;

    }
    .letter{
        
        background-color: rgba(255, 192, 203, 0.073);
        margin-left: 125px;
        margin-right:100px;
    }
    #letterbox{
       
        margin-left:630px;
        margin-bottom: 10px;
    }
    #subscribe{
        color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
    }
    #dollar{
        color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 50px;
    }
    .user{
        display: flex;
        margin-left: 270px;
        margin-bottom: 100px;
        
    }
    .last{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
       background: #FFF;
       border:0;
       width: 648px;
       height: 72px;
       color: rgba(7, 2, 17, 0.30);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-bottom: 80px;
    }
    .alsolast{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
       background: #F00;
       border:0;
       width: 210px;
height: 72px;
color:#ffffff;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
margin-bottom: 80px;
      
    }
    footer{
        height: 605px;
background: #070211;
}
.address{
    color: #FFF;
   font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 100px;
    padding-left: 100px;
    display: inline-block;
    margin-right: 410px;
    text-decoration: none;
}
.beach{
    color: #FFF;
    font-family: Inter;
     font-size: 24px;
     font-weight: 500;
     line-height: 40px;
     padding-left: 100px;
     display: inline-block;
     margin-right: 442px; 
     text-decoration: none;
}
.line{
    width: 1320px;
height: 1px;
 background: rgba(255, 255, 255, 0.15);
 margin-left: 50px;
}
.mang{
    margin-left: 590px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.end{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
display: inline-block;
}
#close{
    margin-left: 100px;
    margin-right: 1000px;
}
#finish{
    background-color: #070211;
    border: none;

}
